name: Generate Documentation PDF

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    paths:
      - 'docs/**'
      - 'README.md'

jobs:
  generate-pdf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc plantuml graphviz texlive-xetex texlive-fonts-recommended

      - name: Install pandoc-plantuml-filter
        run: pip install pandoc-plantuml-filter

      - name: Generate PDF
        run: |
          pandoc README.md docs/*.md -o documentation.pdf --filter pandoc-plantuml --pdf-engine=xelatex
        env:
          PLANTUML_BIN: /usr/bin/plantuml

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: documentation-pdf
          path: documentation.pdf
